<div class="card w-100 mb-3">
  <div class="card-header bg-dark text-light text-center">
    <h2 class="fs-1">Sign Up</h2>
  </div>
  <div id="signUp" role="tabpanel" class="fs-3 p-0">
    <form id="signUp-form" class="card-body">
      <div>
        <label for="signUp-username" class="form-label">Username</label>
        <input type="text" id="signUp-username" />
      </div>
      <div>
        <label for="signUp-password" class="form-label">Password</label>
        <input type="password" id="signUp-password" />
      </div>
      <div class="d-grid gap-2 pt-4">
        <button type="submit" id="signup-btn" class="btn btn-outline-secondary fs-5">Submit</button>
      </div>
    </form>
    <div class="card-footer text-body-secondary text-center bg-dark text-light">
      <a type="button" class="btn btn-outline-secondary fs-5" href="/signIn">I am an existing User..</a>
    </div>
</div>

<script src="/js/signUp.js"></script>